<!DOCTYPE html>
<html>
    <!--AngularJS extends HTML with ng-directives-->

    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.9/angular.min.js">
        
    </script>
    <script>
        function typeDetails(letter){
                let type = letter.getAttribute('data-letter-type');
                alert(`The letter ${letter.innerHTML} is ${type}`);
            }
           
            
    </script>  
    <body>
        <!--angular ng-init initialize application variable-->
        <div id='App1' ng-app="" ng-init="firstName='John'">
            <p>
                Input something in the input box:
            </p>
            <p>
                Name : <input type="text" ng-model="name" placeholder="Enter name here">
            </p>
            <h1>
                Hello {{name}}
            </h1>
            <p>The name is <span ng-bind="firstName"></span></p>
            <p ng-bind='name'></p>
        
        <!--Angular expression is written within {{}}-->    
        <p>my first expression is {{5+5}}</p>
        </div>  -->

        <div id="App2" ng-app="myApp" ng-controller="myCtrl">

                First Name: <input type="text" ng-model="firstName"><br>
                Last Name: <input type="text" ng-model="lastName"><br>
                <br>
                Full Name: {{firstName + " " + lastName}}
                
                </div>

   

        <!--this block is to learn how the data* attribute works, with the function typeDetails()-->
        <ul>
            <li onclick="typeDetails(this)" id="A" data-letter-type="a">A</li>
            <li onclick="typeDetails(this)" id="B" data-letter-type="b">B</li>
            <li onclick="typeDetails(this)" id="C" data-letter-type="c">C</li>
        </ul>
        
        <script>
         var app = angular.module('myApp', []);
            app.controller('myCtrl', function($scope) {
            $scope.firstName= "John";
            $scope.lastName= "Doe";
        });
        // angular.bootstrap is for loading two ng apps on the same page
        angular.bootstrap(document.getElementById('App2'),['myApp']);
        </script>
    </body>
      
</html>  